/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import 'nativescript-theme-core/css/core.light.css';

Page {
  font-size: 15;
}

/*
button {
    background-color: yellow;
}

.label-text {
    font-weight: bold;
    color: blue;
}

ActionBar {
  background-color: black;
  color: white;
}

*/

.pulse {
    animation-name: pulse;
    animation-duration: 1s;
    animation-delay: 0.5s;
}

@keyframes pulse {
    0% { }
    50% { transform: scale(1.5, 1.5) }
    100% { transform: scale(1, 1) }
}

.list-page {
  background-image: url("res://bg_inner");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
