<ActionBar title="Add a Video">
  <ActionItem text="Capture" ios.position="right" (tap)="capture()"></ActionItem>
</ActionBar>

<StackLayout class="form">
    <StackLayout class="input-field">
        <Label class="label" text="Title"></Label>
        <TextField class="input input-border" [(ngModel)]="title">
        </TextField>
        <Label class="label" text="Description"></Label>
        <TextField class="input input-border" [(ngModel)]="description">
        </TextField>
        <Image [src]="image"></Image>
    </StackLayout>
    <Button text="Save" class="btn btn-primary" (tap)="save()">
    </Button>
</StackLayout>
