<ActionBar title="JS Conf China App Version {{getApplicationVersion()}}">
</ActionBar>

<StackLayout class="form">
    <Image width="600px" src="http://jsconf.com/images/jsconf_cn.png"></Image>
    <Label class="font-weight-bold text-center"
           text="Welcome to JS Conf China running on {{appPlatform}}!"></Label>
    <StackLayout class="input-field">
        <Label class="label" text="Username"></Label>
        <TextField class="input input-border"
                   hint="Username"
                   [(ngModel)]="username">
        </TextField>
        <Label class="label" text="Password"></Label>
        <TextField secure="true"
                   class="input input-border"
                   hint="Password"
                   [(ngModel)]="password">
        </TextField>
        <Label *ngIf="forgot"
               text="Forgot password?"
               class="pulse text-center text-danger">
        </Label>
    </StackLayout>
    <Button text="Sign In" class="btn btn-primary" (tap)="signIn()">
    </Button>
</StackLayout>
